<h1>Search Results</h1>

<%= form_tag("/cars" , :method=>:get) do %>

<label for="mark">Make</label> <%= text_field_tag 'mark' , @searchparams[:mark]%>
<label for="model">model</label> <%= text_field_tag 'model',@searchparams[:model] %>
<label for="pricemin">minimum price</label> <%= number_field_tag 'pricemin' , @searchparams[:pricemin],:min => 0 , :step=> 100 %> 
<label for="pricemax">maximum price</label> <%= number_field_tag 'pricemax' , @searchparams[:pricemax],:min => 0 , :step=> 100 %>
<label for="ccmin">,minimum cc</label> <%= number_field_tag 'ccmin' , @searchparams[:ccmin],:min => 0 , :step=> 100 %>
<label for="ccmax">maximum cc</label> <%= number_field_tag 'ccmax' , @searchparams[:ccmax], :min => 0 , :step=> 100 %>
<label for="kmpassedmin">minimum kmpassed</label> <%= number_field_tag 'kmpassedmin' , @searchparams[:kmpassedmin], :step=> 100 %>
<label for="kmpassedmax">maximum kmpassed</label> <%= number_field_tag 'kmpassedmax' , @searchparams[:kmpassedmax], :step=> 100 %>
<label for="automatic">automatic</label> <%= check_box_tag 'automatic' , nil , @searchparams[:automatic] %>
<label for="abs">abs</label> <%= check_box_tag 'abs' , nil, @searchparams[:abs]%>
<label for="airbag">airbag</label> <%= check_box_tag 'airbag'  , nil, @searchparams[:airbag] %>
<label for="powersteering">powersteering</label> <%= check_box_tag 'powersteering'  , nil, @searchparams[:powersteering] %>
<label for="centerlock">centerlock</label> <%= check_box_tag 'centerlock'  , nil, @searchparams[:centerlock] %>
<label for="electricwindow">electricwindow</label> <%= check_box_tag 'electricwindow'  , nil, @searchparams[:electricwindow] %>

<%= submit_tag "search"%>

<% end %>


<table>
  <tr>
  	<th></th>
    <th>Mark</th>
    <th>Model</th>
    <th>Comment</th>
    <th>Price</th>
    <th>Cc</th>
    <th>Kmpassed</th>
    <th>Automatic</th>
    <th>Centerlock</th>
    <th>Powersteering</th>
    <th>Abs</th>
    <th>Electricwindow</th>
    <th>Airbag</th>
  </tr>

<% @cars.each do |car| %>
  <tr>
  	<td><%= link_to image_tag(car.thumbnailurl) , car %></td>
    <td><%= car.mark %></td>
    <td><%= car.model %></td>
    <td><%= car.comment %></td>
    <td><%= car.price %></td>
    <td><%= car.cc %></td>
    <td><%= car.kmpassed %></td>
    <td><%= car.automatic %></td>
    <td><%= car.centerlock %></td>
    <td><%= car.powersteering %></td>
    <td><%= car.abs %></td>
    <td><%= car.electricwindow %></td>
    <td><%= car.airbag %></td>  
  </tr>
<% end %>

</table>
<!-- <%= link_to 'New Car', new_car_path %> -->