<h1>Search Results</h1>

<%= form_tag("/cars" , :method=>:get) do %>

<label for="mark">Make</label> <%= text_field_tag 'mark' , @searchparams[:mark]%>
<label for="model">model</label> <%= text_field_tag 'model',@searchparams[:model] %> </br/>
<label for="pricemin">minimum price</label> <%= number_field_tag 'pricemin' , @searchparams[:pricemin],:min => 0 , :step=> 100 %> 
<label for="pricemax">maximum price</label> <%= number_field_tag 'pricemax' , @searchparams[:pricemax],:min => 0 , :step=> 100 %>
<label for="ccmin">,minimum cc</label> <%= number_field_tag 'ccmin' , @searchparams[:ccmin],:min => 0 , :step=> 100 %>
<label for="ccmax">maximum cc</label> <%= number_field_tag 'ccmax' , @searchparams[:ccmax], :min => 0 , :step=> 100 %>
<label for="kmpassedmin">minimum kmpassed</label> <%= number_field_tag 'kmpassedmin' , @searchparams[:kmpassedmin], :step=> 100 %>
<label for="kmpassedmax">maximum kmpassed</label> <%= number_field_tag 'kmpassedmax' , @searchparams[:kmpassedmax], :step=> 100 %>
<br/>

<label for="automatic">automatic</label> <%= check_box_tag 'automatic' , nil , @searchparams[:automatic] %>
<label for="abs">abs</label> <%= check_box_tag 'abs' , nil, @searchparams[:abs]%>
<label for="airbag">airbag</label> <%= check_box_tag 'airbag'  , nil, @searchparams[:airbag] %>
<label for="powersteering">powersteering</label> <%= check_box_tag 'powersteering'  , nil, @searchparams[:powersteering] %>
<label for="centerlock">centerlock</label> <%= check_box_tag 'centerlock'  , nil, @searchparams[:centerlock] %>
<label for="electricwindow">electricwindow</label> <%= check_box_tag 'electricwindow'  , nil, @searchparams[:electricwindow] %>

<%= submit_tag "search"%>

<% end %>


<!-- <table>
  <tr>
  	<th></th>
    <th>Mark</th>
    <th>Model</th>
    <th>Comment</th>
    <th>Price</th>
    <th>Cc</th>
    <th>Kmpassed</th>
    <th>Automatic</th>
    <th>Centerlock</th>
    <th>Powersteering</th>
    <th>Abs</th>
    <th>Electricwindow</th>
    <th>Airbag</th>
  </tr>

<% @cars.each do |car| %>
  <tr>
  	<td><%= link_to image_tag(car.thumbnailurl) , car %></td>
    <td><%= car.mark %></td>
    <td><%= car.model %></td>
    <td><%= car.comment %></td>
    <td><%= car.price %></td>
    <td><%= car.cc %></td>
    <td><%= car.kmpassed %></td>
    <td><%= car.automatic %></td>
    <td><%= car.centerlock %></td>
    <td><%= car.powersteering %></td>
    <td><%= car.abs %></td>
    <td><%= car.electricwindow %></td>
    <td><%= car.airbag %></td>  
  </tr>
<% end %>

</table>-->
<div class="resultsContainer">
<% @cars.each do |car| %>
  <div class="car">
  	<%= link_to image_tag(car.thumbnailurl,{:class=>"carimg"}) , car %><br/>
    <%= car.mark %>
    <%= car.model %><br/>
    <div class="price"><%= car.price %>LE </div>
    <%= car.cc %> cc
    <%= car.kmpassed %> KM Passed <br>
    <% if car.automatic %>
    <%= image_tag "automatic.png" , {:alt=>"automatic"} %>
    <% end %>
    <% if car.centerlock %>
    <%= image_tag "centerlock.png" , {:alt=>"centerlock"} %>
    <% end %>
    <% if car.powersteering %>
    <%= image_tag "powersteering.png" , {:alt=>"powersteering"} %>
    <% end %>
    <% if car.abs %>
    <%= image_tag "abs.png" , {:alt=>"ABS"} %>
    <% end %>
    <% if car.electricwindow %>
    <%= image_tag "electricwindow.png" , {:alt=>"electricwindow"} %>
    <% end %>
    <% if car.airbag %>
    <%= image_tag "airbag.png" , {:alt=>"airbag"} %>
    <% end %> 
  </div>

<%end%>

  
  <div class="clear"></div>
</div>



<!-- <%= link_to 'New Car', new_car_path %> -->