<p id="notice"><%= notice %></p>

<p>
  <b>Mark:</b>
  <%= @car.mark %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Thumbnailurl:</b>
  <%= image_tag(@car.thumbnailurl) %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@car.picture) %>
</p>

<p>
  <b>Comment:</b>
  <%= @car.comment %>
</p>

<p>
  <b>Price:</b>
  <%= @car.price %>
</p>

<p>
  <b>Cc:</b>
  <%= @car.cc %>
</p>

<p>
  <b>Kmpassed:</b>
  <%= @car.kmpassed %>
</p>

<p>
  <b>Automatic:</b>
  <%= @car.automatic %>
</p>

<p>
  <b>Centerlock:</b>
  <%= @car.centerlock %>
</p>

<p>
  <b>Powersteering:</b>
  <%= @car.powersteering %>
</p>

<p>
  <b>Abs:</b>
  <%= @car.abs %>
</p>

<p>
  <b>Electricwindow:</b>
  <%= @car.electricwindow %>
</p>

<p>
  <b>Airbag:</b>
  <%= @car.airbag %>
</p>

<div>
	<h3>Contact Info</h3>
	<p>
		<%= image_tag @car.user.thumbnail %> 
  		<%= @car.user.firstname + "\t" + @car.user.lastname  %>
  		<br/>
  		<b>email:</b>
  		<%= @car.user.email%>
  		<br/>
  		<b>mobile:</b>
  		<%= @car.user.mobile%>
  		<br/>
  		<b>place:</b>
  		<%= @car.user.location%>
  		<br/>
	</p>
</div>



<!-- 
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %> -->